extends layout
block content
	h1 Edycja 
	form(method="post" action="/edit/"+id)
		label Marka
		br
		input(type="text" name="mark" value=mark)
		br
		label Model
		br
		input(type="text" name="name" value=name)
		br
		label Rok
		br
		input(type="number" name="year" value=year)
		br
		input(type="submit" value="Zmień")
		if message!=''
			p #{message}